import React, { useState } from 'react';
import Button from 'react-bootstrap/Button';
import Form from 'react-bootstrap/Form';
import Modal from 'react-bootstrap/Modal';

function NewBrief() {
  const [show, setShow] = useState(false);

  const handleClose = () => setShow(false);
  const handleShow = () => setShow(true);

  return (
    <>
      <Button variant="primary" onClick={handleShow}>
        Add a New Brief
      </Button>

      <Modal show={show} onHide={handleClose}>
        <Modal.Header closeButton>
          <Modal.Title>Modal heading</Modal.Title>
        </Modal.Header>
        <Modal.Body>
          <Form>
            <Form.Group className="mb-3" controlId="exampleForm.ControlInput1">
              <Form.Label>Brief Title</Form.Label>
              <Form.Control
                type="text"
                placeholder="Brief Title"
                autoFocus
              />
            </Form.Group>
            <Form.Group
              className="mb-3"
              controlId="exampleForm.ControlTextarea1"
            >
              <Form.Label>Brief Content</Form.Label>
              <Form.Control 
              type="text"
              as="textarea" 
              rows={24}
              placeholder="Brief Content" />
            </Form.Group>
            <div>
            <ImageUpload
                cloud_name={cld.cloudinaryConfig.dkrgydudr}
                upload_preset={cld.cloudinaryConfig.nmqlk7x4}
                onImageUpload={(publicId) => onImageUploadHandler(publicId)}
              />
            </div>
          </Form>
        </Modal.Body>
        <Modal.Footer>
          <Button variant="secondary" onClick={handleClose}>
            Close
          </Button>
          <Button variant="primary" onClick={handleClose}>
            Save Changes
          </Button>
        </Modal.Footer>
      </Modal>
    </>
  );
}

// render(<NewBrief />);
export default NewBrief;