/* #col {
    margin: auto;
} */

#projects-card {
    border-radius: calc(0.375rem - 0px);
    margin-bottom: 13%;
    min-height: 600px;
    max-height: 600px;
}

.card-title {
    padding: 20px;
}

.card img {
    border-radius:0px;
    width: 100%;
    border-bottom: 1px solid black;
}

#header {
    margin: auto;
    height: 7rem;
    border-bottom: 1px solid black;
    background-color:honeydew;
    position:sticky;
    top: 0;
    z-index: 1;
}

#projects-container {
    margin-left: 7%;
    margin-top: 3%;
}

#title {
    width: 100%;
    justify-content: end;
}

.name-tag {
    padding-right: 50px;
}

#projects-img {
    width: 100%;
    height: 220px;
}

#auth-btns {
    width: 35%;
}

.btn {
    border: 1px solid black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

#project-btn {
    padding: 10px;
    position: absolute;
    bottom:0;
    margin-left: -45%;
    width: 90%;
    margin-bottom: 5%;
}

.main-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 60px;
}

#back-to-btn {
    width: 25%;
    margin-left: 25%;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 100vw;
}

#project-container {
    width: 100vw;
}

#project-tag {
    color: black;
    margin: auto;
}

#brief-tag {
    color: black;
    margin: auto;
}

.seed {
    margin-top: 5%;
    margin-left: 120%;
    justify-content: end;
    width: 60vw;
}

#signup-page {
    margin-top: 3%;
}

#login-page {
    margin-top: 3%;
}

.btn-text {
    font-weight: bold;
}

.sidebar-button {
    margin-left: 5%;
    width: 200px;
    height: 100px;
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.svg-content {
    height: 60%;
    width: 60%;
}

#sidebar {
    width: 30%;
}

#new-brief-btn {
    /* height: 100px; */
    margin-bottom: 5%;
}

.new-brief-btn {
    height: 100px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 1142px) {

    body {
        width: 100vw;
    }

    main {
        display:flex;
        width: 100vw;
        margin-top: 3%;
    }

    #header {
        display: flex;
        flex-direction:row;
        height: 12rem;
        margin: auto;
        border-bottom: 1px solid black;
        position:sticky;
        top: 0;
        z-index: 1;
    }

    #title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    #name-tag {
        margin: auto;
    }

    #auth-btns {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #projects-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    .sidebar-button {
       margin-left: 20%;
       margin-top: 3%;
       height: 40px;
       width: 300px;
    }
    .seed {
        display: flex;
        flex-direction:column;
        margin-top: 16%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    body {
        width: 100vw;
    }

    main {
        display:flex;
        width: 100vw;
        margin-top: 3%;
    }

    #header {
        display: flex;
        flex-direction:row;
        height: 13rem;
        margin: auto;
        border-bottom: 1px solid black;
        position:sticky;
        top: 0;
        z-index: 1;
    }

    #title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    #auth-btns {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #projects-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar-button {
       margin-left: 30%;
       margin-top: 15%;
       height: 40px;
       width: 300px;
       position:relative;
    }
    .seed {
        display: flex;
        flex-direction:column;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #brief-tag {
        display: flex;
        flex-direction:column;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 350%;
    }

    #back-to-btn {
        width: 300px;
        margin: auto;
        margin-top: 3%;
    }
}

@media screen and (max-width: 390px) {
    body {
        width: 100vw;
    }

    main {
        display:flex;
        width: 100vw;
        margin-top: 3%;
    }

    #header {
        display: flex;
        flex-direction:row;
        height: 13rem;
        margin: auto;
        border-bottom: 1px solid black;
        position:sticky;
        top: 0;
        z-index: 1;
    }

    #title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    #auth-btns {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #projects-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar-button {
       margin-left: 30%;
       margin-top: 15%;
       height: 40px;
       width: 300px;
       position:relative;
    }
    .seed {
        display: flex;
        flex-direction:column;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #brief-tag {
        display: flex;
        flex-direction:column;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 350%;
    }

    #back-to-btn {
        width: 300px;
        margin: auto;
        margin-top: 3%;
    }
}
 


